.nseioq {
    border: 0;
    border-radius: 0%;
    nav-down: auto; /* Aqui vai uma
                       Anotação maior
                       Do que o normal.*/
    nav-left: auto;                
}